<!DOCTYPE html>
<html lang="en" >
	
	<title>Oregon Trail Start Page</title>
	
	<head>
    	<meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='/css/index.css'/>
        <link rel='stylesheet' type='text/css' href='/css/global.css'/>
    </head>
	
	<body>	
		<div class = "preload">
			<div class = "logo">
				Oregon Trail
			</div>
		</div>

		<div class="quotes">
				<a href="http://localhost:1337/mainmenu.html">Press The Spacebar To Continue</a>
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Click Here To Continue</a>
		</div>
		
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	    <script type='text/javascript' src='/js/index.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
		<img src="/images/oregonsplash.jpg" alt="Oregon Trail Splash Screen">
    </body>
</html>