<!DOCTYPE html>
<html>
	<head>
	    <title>MainMenu</title>
	    <link rel='stylesheet' type='text/css' href='/css/mainmenu.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/global.css'/>
	</head>
	<body>
		<div class="travel">
			1. Travel The Trail
		</div>
		<div class="learn">
			2. Learn About The Trail
		</div>
		<div class="topten">
			3. See The Oregon Top 10
		</div>
		<div class="sound">
			4. Turn Sound (On/Off)
		</div>
		<div class="mainmenu">
			Main Menu
		</div>
		<img src="/images/oregontitle.jpg" alt="Oregon Trail Title">
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	    <script type='text/javascript' src='/js/mainmenu.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
	</body>
</html>