<!DOCTYPE html>
<html>
	<title>Oregon Trail Setup</title>
	
	<head>
	    <title>Setup</title>
	    <link rel='stylesheet' type='text/css' href='/css/setup.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/global.css'/>
	</head>
	
	<body>
		
		<div id="gameContainer">
			This Is Where Our GameScreens HTML Goes
		</div>

		<div class="review">
			<div id="rev"></div>
			<div id="member0"></div>
			<div id="member1"></div>
			<div id="member2"></div>
			<div id="member3"></div>
			<div id="member4"></div>
			<div id="profession"></div>
			<div id="money"></div>
			<div id="month"></div>
		</div>
		<div id="enter"></div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Press The Spacebar To Go Back</a>
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Click Here To Go Back</a>
		</div>
		
		<img src="/images/oregontitle.jpg" alt="Oregon Trail Title">
		
		<audio loop id="theme">
			<source src="/music/theme.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
	  	</audio>
		
	    <script type='text/javascript' src='/js/setup.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
	</body>
</html>





