<!DOCTYPE html>
<html>
	<title>Oregon Trail Setup</title>
	
	<head>
	    <title>Setup</title>
	    <link rel='stylesheet' type='text/css' href='/css/setup.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/global.css'/>
	</head>
	
	<body>
		
		<div class="choice">
			Which Will You Choose?
		</div>
		
		<div class="banker">
			1. Be A Banker From Boston
		</div>
		
		<div class="carpenter">
			2. Be A Carpenter From Ohio
		</div>
		
		<div class="farmer">
			3. Be A Farmer From Illinois
		</div>
		
		<div class="differences">
			4. Find Out The Differences Between The Choices
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Press The Spacebar To Go Back</a>
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Click Here To Go Back</a>
		</div>
		
		<img src="/images/oregontitle.jpg" alt="Oregon Trail Title">
		
		<audio loop id="theme">
			<source src="/music/theme.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
	  	</audio>
		
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	    <script type='text/javascript' src='/js/setup.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
	</body>
</html>