<!DOCTYPE html>
<html>
	<title>Oregon Trail Top Ten Players</title>
	
	<head>
	    <link rel='stylesheet' type='text/css' href='/css/topten.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/global.css'/>
	</head>
	
	<body>
		<div class="title">
			<img src="/images/oregontitle2.jpg">
		</div>
		
		<div class="topten">
			Top Ten Scores
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Press The Spacebar To Go Back</a>
		</div>
		
		<div class="quotes">
			<a href="http://localhost:1337/mainmenu.html">Click Here To Go Back</a>
		</div>
		
		<div id="names" >
			(THIS IS WHERE THE NAMES WOULD GO SEE JS)
		</div>
		
		<div id="score">
			(THIS IS WHERE THE SCORES WOULD GO SEE JS)
		</div>
		
		<div id="date">
			(THIS IS WHERE THE DATES WOULD GO SEE JS)
		</div>
		
		<div id="leaders">
			
		</div>
		
		<div id="nameDesc">
			NAME
		</div>
		
		<div id="scoreDesc">
			SCORE
		</div>
		
		<div id="dateDesc">
			DATE
		</div>
		
		<audio loop id="theme">
			<source src="/music/theme.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
	  	</audio>
		
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
		<script type='text/javascript' src='/js/topten.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
	</body>
</html>