<!DOCTYPE html>
<html>
	<head>
	    <title>TopTen</title>
	    <link rel='stylesheet' type='text/css' href='/css/topten.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/global.css'/>
	</head>
	<body>
		<div class="title">
			<img src="/images/oregontitle2.jpg">
		</div>
		<div class="topten">
			Top Ten Scores
		</div>
		
		<div class="continue">
			<a href="http://localhost:1337/mainmenu.html">Click Here To Go Back</a>
		</div>
		<div id="names" >
			
		</div>
		<div id="score">
			
		</div>
		<div id="date">
			
		</div>
		<div id="leaders">
			
		</div>
		<div id="nameDesc">
			NAME
		</div>
		<div id="scoreDesc">
			SCORE
		</div>
		<div id="dateDesc">
			DATE
		</div>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	    <script type='text/javascript' src='/js/topten.js'></script>
	    <script type='text/javascript' src='/js/global.js'></script>
	</body>
</html>