* {box-sizing: border-box;}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#gameContainer{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: -10px  0px;
	font-size: 20px;
	text-align: center;
}
.review{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 220px  210px;
	font-size: 25px;
	text-align: center;
}
.choice{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 220px  210px;
	font-size: 30px;
	text-align: center;
}
.banker{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 320px  200px;
	font-size: 20px;
	text-align: center;
}
.carpenter{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 370px  200px;
	font-size: 20px;
	text-align: center;
}
.farmer{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 420px  200px;
	font-size: 20px;
	text-align: center;
}
.differences{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 470px  200px;
	font-size: 20px;
	text-align: center;
}
.february{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 320px  200px;
	font-size: 20px;
	text-align: center;
}
.april{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 370px  200px;
	font-size: 20px;
	text-align: center;
}
.june{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 420px  200px;
	font-size: 20px;
	text-align: center;
}
.august{
	position: absolute;
	color: white;
	width: 600px;
	height: 140px;
	margin: 470px  200px;
	font-size: 20px;
	text-align: center;
}
.quotes {
	display: none;
    position: absolute;
    color: white;
    margin: 580px 310px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    width: 400px;
    height: 400px;
}
a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}