* {box-sizing: border-box;}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.topten{
	position: fixed;
	color: white;
	width: 600px;
	height: 140px;
	margin: 220px  210px;
	font-size: 30px;
	text-align: center;
}	
.continue {
    position: fixed;
    color: white;
    margin: 550px 300px;
    text-align: center;
    width: 400px;
    height: 400px;
    -webkit-animation: fadeinout 2s infinite;
    animation: fadeinout 4s infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
#scores{
	margin: 280px  30px;
	position: fixed;
	color: white;
	z-index: 2px;
	width: 500px;
	height: 20px;
	font-size: 20px;
	text-align: center;
}
.title {
    position:static;
    left: 0px;
    top: 0px;
    z-index: 1px;
    width: 1000px;
    height: 618px;
}