* {box-sizing: border-box;}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.days{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 530px  20px;
	font-size: 15px;
	text-align: justify;
}
.miles{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 560px  20px;
	font-size: 15px;
	text-align: justify;
}
.health{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 590px  20px;
	font-size: 15px;
	text-align: justify;
}
.weather{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 530px  350px;
	font-size: 15px;
	text-align: justify;
}
.pace{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 560px  350px;
	font-size: 15px;
	text-align: justify;
}
.terrain{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 590px  350px;
	font-size: 15px;
	text-align: justify;
}
.alive{
	position: absolute;
	color: white;
	width: 200px;
	height: 40px;
	margin: 530px  630px;
	font-size: 15px;
	text-align: justify;
}
.title {
    left: 0px;
    top: 0px;
    z-index: 1px;
    width: 1000px;
    height: 618px;
} 
.terrainwall {
    position: relative;
    left: 0px;
    top: -510px;
    z-index: 2px;
}